<?php
define('DB_HOST',			'localhost');
define('DB_NAME',			'your_database_name');
define('DB_USER',			'your_database_user');
define('DB_PASSWORD',			'your_database_password');

define('DEBUG',				true);
define('CONFIG_LOGFILE',		'/var/log/tg-bots/dev-raid-bot.log');
define('CONFIG_HASH',			'aaaabbbbccccddddeeeeffff1111222233334444555566667777888899990000aaaabbbbccccddddeeeeffff1111222233334444555566667777888899990000');

define('CURL_USEPROXY',			false);
define('CURL_PROXYSERVER',		'http://your.proxyserver.com:8080');

define('MAINTAINER',			'@your_tg_username');
define('MAINTAINER_ID',			'your_tg_integer');
define('BOT_NAME',			'@RaidPokemonBot');
define('BOT_ADMINS',			'');
define('BOT_ACCESS',			'');

// Languages
define('LANGUAGE',             		'');
define('RAID_POLL_LANGUAGE',   		'EN');
define('QUEST_LANGUAGE',       		'EN');

// Timezone and Google maps API 
define('TIMEZONE',			'Europe/Berlin');
define('GOOGLE_API_KEY',		''); 

// Raid creation
define('RAID_VIA_LOCATION',		true);
define('RAID_EGG_DURATION',		'60');
define('RAID_POKEMON_DURATION_SHORT',	'45');
define('RAID_POKEMON_DURATION_LONG',	'90');
define('RAID_DURATION_CLOCK_STYLE',	true);

// Raid times
define('RAID_LOCATION',			false);
define('RAID_SLOTS',			'15');
define('RAID_LAST_START',		'10');
define('RAID_ANYTIME',			false); 

// Raid poll design and layout
define('RAID_VOTE_ICONS',		true);
define('RAID_VOTE_TEXT',		false);
define('RAID_LATE_MSG',			true);
define('RAID_LATE_TIME',		'3');

// Raid sharing
define('SHARE_RAID_MODERATORS',		true);
define('SHARE_RAID_USERS',		true);
define('SHARE_RAID_CHATS',		'');

// Raid overview
define('RAID_PIN_MESSAGE',		'');

// Quest creation
define('QUEST_VIA_LOCATION',		true);
define('QUEST_LOCATION',		false);
define('QUEST_STOPS_RADIUS',		'50');
define('QUEST_HIDE_REWARDS',		true);
define('QUEST_HIDDEN_REWARDS',		'2,3,8,10');

// Quest sharing
define('SHARE_QUEST_MODERATORS',	true);
define('SHARE_QUEST_USERS',		true);
define('SHARE_QUEST_CHATS',		'');

// Cleanup
define('CLEANUP',			false);
define('CLEANUP_LOGFILE',		'/var/log/tg-bots/dev-raid-bot-cleanup.log');
define('CLEANUP_SECRET',		'your-cleanup-secret/passphrase');
define('CLEANUP_RAID_TELEGRAM',		true);
define('CLEANUP_RAID_TIME_TG',		'10');
define('CLEANUP_RAID_DATABASE',		true);
define('CLEANUP_RAID_TIME_DB',		'10080');
define('CLEANUP_QUEST_TELEGRAM',	true);
define('CLEANUP_QUEST_DATABASE',	true);

