version: "3.7"

services:
  raidbot:
    ports:
      - 8088:80
    depends_on:
      - raidbot-db
    restart: always
    volumes:
      # These are just example paths, change them to where you have stored the data!
      - ./PokemonRaidBot/config/:/var/www/html/config/
      - ./PokemonRaidBot/access/:/var/www/html/access/
      - ./PokemonRaidBot/images/pokemon_PokeMiners/:/var/www/html/images/pokemon_PokeMiners
      - ./tg-logs/:/var/log/tg-bots/
    environment:
      TEMPLATE_PHP_INI: production
      PHP_INI_EXTENSION: gd
      TAIL_LOGS: info
      TZ: Europe/Vienna
    image: ghcr.io/pokepark/pokemonraidbot:latest
    labels:
      # You'll need to customize your domain & API key here!
      ofelia.enabled: "true"
      ofelia.job-exec.raidbot-cleanup.schedule: "@every 20s"
      ofelia.job-exec.raidbot-cleanup.command: /usr/bin/curl -s -k -d '{"cleanup":{"secret":"changeme","telegram":"1","database":"1"}}' https://raidbot.example.com/index.php?apikey=changeme
      ofelia.job-exec.raidbot-overview.schedule: "@every 1m"
      ofelia.job-exec.raidbot-overview.command: /usr/bin/curl -s -k -d '{"callback_query":{"data":"0:overview_refresh:0"}}' https://raidbot.example.com/index.php?apikey=changeme

  raidbot-db:
    image: mariadb:10.3
    restart: always
    command: ['mysqld', '--character-set-server=utf8mb4', '--collation-server=utf8mb4_unicode_ci']
    volumes:
      # These are just example paths, change them to where you have stored the data and want the DB stored!
      - ./raidbot-db/:/var/lib/mysql/
      - ./sql/:/docker-entrypoint-initdb.d/
    environment:
      MYSQL_RANDOM_ROOT_PASSWORD: 1
      # Set these to match your config!
      MYSQL_DATABASE:
      MYSQL_USER:
      MYSQL_PASSWORD:

  ofelia:
    image: mcuadros/ofelia:latest
    depends_on:
      - raidbot
    command: daemon --docker
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
