{
  "VERSION":"2.1.140.8",
  "DB_HOST":"localhost",
  "DB_NAME":"your_database_name",
  "DB_USER":"your_database_user",
  "DB_PASSWORD":"your_database_password",
  "DEBUG": true,
  "DEBUG_LOGFILE":"/var/log/tg-bots/dev-raid-bot.log",
  "APIKEY_HASH":"aaaabbbbccccddddeeeeffff1111222233334444555566667777888899990000aaaabbbbccccddddeeeeffff1111222233334444555566667777888899990000",
  "MAINTAINER":"@your_tg_username",
  "MAINTAINER_ID":"your_tg_integer",
  "BOT_NAME":"@RaidPokemonBot",
  "BOT_ADMINS":"",
  "LANGUAGE_PRIVATE":"",
  "LANGUAGE_PUBLIC":"EN",
  "TIMEZONE":"Europe/Berlin",
  "SHARE_CHATS":""
}
