{ 
  "VERSION":"1.9.231.1",
  "DB_HOST":"localhost",
  "DB_NAME":"your_database_name",
  "DB_USER":"your_database_user",
  "DB_PASSWORD":"your_database_password",
  "DEBUG":"true",
  "DEBUG_LOGFILE":"/var/log/tg-bots/dev-raid-bot.log",
  "APIKEY_HASH":"aaaabbbbccccddddeeeeffff1111222233334444555566667777888899990000aaaabbbbccccddddeeeeffff1111222233334444555566667777888899990000",
  "DDOS_MAXIMUM":"10",
  "BRIDGE_MODE":"false",
  "MAINTAINER":"@your_tg_username",
  "MAINTAINER_ID":"your_tg_integer",
  "BOT_ID":"R",
  "BOT_NAME":"@RaidPokemonBot",
  "BOT_ADMINS":"",
  "LANGUAGE_PRIVATE":"EN",
  "LANGUAGE_PUBLIC":"EN",
  "TIMEZONE":"Europe/Berlin",
  "MAPS_LOOKUP":"false",
  "MAPS_API_KEY":"",
  "RAID_VIA_LOCATION":"true",
  "RAID_EGG_DURATION":"60",
  "RAID_POKEMON_DURATION_SHORT":"45",
  "RAID_POKEMON_DURATION_LONG":"90",
  "RAID_POKEMON_DURATION_EVENT":"60",
  "RAID_DURATION_CLOCK_STYLE":"true",
  "RAID_CUSTOM_GYM_LETTERS":"",
  "RAID_LOCATION":"false",
  "RAID_SLOTS":"15",
  "RAID_DIRECT_START":"false",
  "RAID_FIRST_START":"10",
  "RAID_LAST_START":"10",
  "RAID_ANYTIME":"false",
  "RAID_VOTE_ICONS":"true",
  "RAID_VOTE_TEXT":"false",
  "RAID_LATE_MSG":"true",
  "RAID_LATE_TIME":"3",
  "RAID_POLL_UI_ORDER":"extra,teamlvl,time,pokemon,status",
  "RAID_EX_GYM_MARKER":"icon",
  "SHARE_CHATS":"",
  "SHARE_CHATS_LEVEL_X":"",
  "SHARE_CHATS_LEVEL_5":"",
  "SHARE_CHATS_LEVEL_4":"",
  "SHARE_CHATS_LEVEL_3":"",
  "SHARE_CHATS_LEVEL_2":"",
  "SHARE_CHATS_LEVEL_1":"",
  "RAID_PIN_MESSAGE":"",
  "MAP_URL":"",
  "PORTAL_IMPORT":"true",
  "CLEANUP":"false",
  "CLEANUP_LOGFILE":"/var/log/tg-bots/dev-raid-bot-cleanup.log",
  "CLEANUP_SECRET":"your-cleanup-secret/passphrase",
  "CLEANUP_TELEGRAM":"true",
  "CLEANUP_TIME_TG":"10",
  "CLEANUP_DATABASE":"true",
  "CLEANUP_TIME_DB":"10080"
}
