{  
  "ALLOWED_TELEGRAM_CONFIG":"RAID_POKEMON_DURATION_EVENT,RAID_EVENT_CREATION_LIMIT",
  "ALLOW_ONLY_TRUE_FALSE":"",
  "ALLOW_ONLY_NUMBERS":"RAID_POKEMON_DURATION_EVENT,RAID_EVENT_CREATION_LIMIT"
}

